@font-face {
    src: url(../fonts/Monoton/Monoton-Regular.ttf);
    font-family: MonotonWebFont;
    
}

@font-face {
    src: url(../fonts/Oswald/Oswald-VariableFont_wght.ttf);
    font-family: OswaldWebFont;
}

html, body {
    height: 100%;
}

#footerContainer {
    min-height: 100%;
}

#footerMain {
    overflow: auto;
    padding-bottom: 70px;
}

#footer {
    background-color: black;
    position: relative;
    height: 70px;
    margin-top: -70px;
    clear: both;
    color: white;
    /* margin-top: 0; */
}

.portfolioText1 {
    margin-top: 1em;
}

.portfolioText2 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.footerMargins {
    margin-top: 10px;
}

.alignCenter {
    text-align: center;
}

h1 {
    margin-top: 25px;
    margin-bottom: 50px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.profileImageMargins {
    margin-right: 104px;
}

.shrinkImages {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}


/* .tealBackground {
    background-color: teal;
}

.greyLine { */
    /* background-color: grey; */
    /* height: 10px;
    border-bottom: grey 2px solid;
    margin-bottom: 10px;

} */

ul {
    display: inline;
    margin-top: 38px;
}

li {
    display: inline;
}

.weirdRandomStuff {
    font-size: 20px;
    /* text-align: center; */
    margin-top: 50px;
}

button {
    margin-right: -122px;
}


.logoFont {
    font-family: MonotonWebFont;
    /* font-family: 'Monoton', cursive; */
    font-size: 60px;
}

.clickToGoToResume {
    font-size: 3em;
    font-family: 'Bungee Shade', cursive;
    text-align: center;
}

.projectTitleTextClass {
    font-size: 21px;
    margin-bottom: 0;
}

.descriptionBold {
    font-weight: bold;
}

.projectTitleTextClassDescription {
    font-size: 21px;
    margin: 0;
}

.marginText {
    /* margin-bottom: 1em; */
    margin-top: 1em;
}

.marginBottomZero {
    margin-bottom: 0;
}

.zeroMargins {
    margin: 0;
}

.borderBox {
	/* margin-top: 15px; */
	margin-bottom: 15px;
	background: #f9f9f9 0% 0% no-repeat padding-box;
	border: .8px solid #0c0b0b;
	/* border-radius: 30px; */
	height: auto;
}

.indexAboutMeParagraphs {
    font-size: 1.8em;
    font-family: OswaldWebFont;
    /* font-family: ',Oswald', sans-serif; */
}

.h4ContactClass {
    margin-top: 1em;
    margin-bottom: 1em;
}

.githubLink {
    text-decoration: underline;
}

